{% extends "navbar.html" %}
{% load staticfiles %}
{% load myslugify %}
{% block  detail %}

<div class="col-sm-2 pull-right details_panel" >
  <div class="panel panel-default">
          <div class="panel-heading">Match Details: {{match.match_id}}
          </div>
          <div class="panel-body">
          <ul class="top_info">
            <li>
              {{match.duration}}
            </li>
            <li>
                {{match.start_time|fromunix}}
            </li>
            <li>
                {{match.game_mode_name}}
            </li>
            <li>
                {{match.cluster_name}}
            </li>
            </ul>
          </div>
        </div>
</div>


<div class="container">

    <div class="col-sm-12 align-content-center">
        <div class="panel panel-default">
          <div class="panel-heading" >
          <h1 id="victory">{{victory}}</h1>
          <div id="score">
          <p>{{match.radiant_score}}</p>
          <p>/</p>
          <p>{{match.dire_score}}</p>
          </div>
          </div>
        </div>
        <div id="rad_team">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                      <th>Hero</th>
                      <th>Name</th>
                      <th></th>
                      <th>K/D/A</th>
                      <th>XPM/GPM</th>
                      <th>CS/Denies</th>
                      <th>Hero Damage</th>
                      <th>Tower Damage</th>
                      <th>Hero Healing</th>
                      <th>Hero Level</th>
                      <th>Items</th>
                    </tr>
                </thead>
                <tbody>
                {% for player in rad_heroes %}
                    <tr>
                      <td><img src='{{player.hero_img_url}}'></td>
                      <td><a href="{% url 'main:player_summary' player.account_id %}">{{ player.name }}<br>{{ player.account_id }}</a></td>
                      <td><img src="{{ player.prof_pic }}"></td>
                      <td>{{player.kills}}/{{player.deaths}}/{{player.assists}}</td>
                      <td>{{player.xp_per_min}}/{{player.gold_per_min}}</td>
                      <td>{{player.last_hits}}/{{player.denies}}</td>
                      <td>{{player.hero_damage}}</td>
                      <td>{{player.tower_damage}}</td>
                      <td>{{player.hero_healing}}</td>
                      <td>{{player.level}}</td>
                      <td>
                      <table>
                          <tbody>
                            <tr>
                            <td><img src='{{player.item_0_url_img}}'></td>
                            <td><img src='{{player.item_1_url_img}}'></td>
                            <td><img src='{{player.item_2_url_img}}'></td>
                            </tr>
                            <tr>
                            <td><img src='{{player.item_3_url_img}}'></td>
                            <td><img src='{{player.item_4_url_img}}'></td>
                            <td><img src='{{player.item_5_url_img}}'></td>
                            </tr>
                            <tr>
                            <td><img src='{{player.backpack_0_url_img}}'></td>
                            <td><img src='{{player.backpack_1_url_img}}'></td>
                            <td><img src='{{player.backpack_2_url_img}}'></td>
                            </tr>
                          </tbody>
                      </table>
                      </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
        <div id="dire_team">
            <table class="table table-striped table-hover ">    
                <thead>
                <tr>
                  <th>Hero</th>
                  <th>Name</th>
                  <th></th>
                  <th>K/D/A</th>
                  <th>XPM/GPM</th>
                  <th>CS/Denies</th>
                  <th>Hero Damage</th>
                  <th>Tower Damage</th>
                  <th>Hero Healing</th>
                  <th>Hero Level</th>
                  <th>Items</th>
                </tr>
                </thead>
                <tbody>
                {% for player in dire_heroes %}
                <tr>
                  <td><img src='{{player.hero_img_url}}'></td>
                  <td><a href="{% url 'main:player_summary' player.account_id %}">{{ player.name }}<br>{{ player.account_id }}</a></td>
                  <td><img src="{{ player.prof_pic }}"></td>
                  <td>{{player.kills}}/{{player.deaths}}/{{player.assists}}</td>
                  <td>{{player.xp_per_min}}/{{player.gold_per_min}}</td>
                  <td>{{player.last_hits}}/{{player.denies}}</td>
                  <td>{{player.hero_damage}}</td>
                  <td>{{player.tower_damage}}</td>
                  <td>{{player.hero_healing}}</td>
                  <td>{{player.level}}</td>
                  <td>
                  <table>
                      <tbody>
                          <tr>
                          <td><img src='{{player.item_0_url_img}}'></td>
                          <td><img src='{{player.item_1_url_img}}'></td>
                          <td><img src='{{player.item_2_url_img}}'></td>
                          </tr>
                          <tr>
                          <td><img src='{{player.item_3_url_img}}'></td>
                          <td><img src='{{player.item_4_url_img}}'></td>
                          <td><img src='{{player.item_5_url_img}}'></td>
                          </tr>
                          <tr>
                          <td><img src='{{player.backpack_0_url_img}}'></td>
                          <td><img src='{{player.backpack_1_url_img}}'></td>
                          <td><img src='{{player.backpack_2_url_img}}'></td>
                          </tr>
                      </tbody>
                  </table>
                  </td>

                  
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="builds">
        <h3>Ability Builds</h3>
        <h4>Radiant</h4>
        <div id="rad_team_builds">
            <table class=" table table-striped table-hover ">
              <thead>
                <tr>
                  <th>Hero</th>
                  {% for item in builds_col_num %}
                  <th>{{item}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
              {% for player in rad_heroes %}
                <tr>
                  <td>
                      <img id="hero_icon" src="{{player.hero_img_url}}">
                  </td>
                  {% for item in player.ability_upgrades %}
                  <td>
                      <img id="ability_icon" src="{{item.ability_url}}">
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table> 
        </div>
        <h4>Dire</h4>
        <div id="dire_team_builds">
            <table class=" table table-striped table-hover ">
              <thead>
                <tr>
                  <th>Hero</th>
                  {% for item in builds_col_num %}
                  <th>{{item}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
              {% for player in dire_heroes %}
                <tr>
                  <td>
                      <img id="hero_icon" src="{{player.hero_img_url}}">
                  </td>
                  {% for item in player.ability_upgrades %}
                  <td>
                      <img id="ability_icon" src="{{item.ability_url}}">
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table> 
        </div>
        </div>

    </div>
</div>





{% autoescape off %}
    {{player_history_}}
    {{match_}}
{% endautoescape %}

{% endblock %}